body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 { color: #e94560; }

.btn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

.start { background-color: #16213e; color: #0f3460; border: 2px solid #0f3460; color: white; }
.start:hover { background-color: #0f3460; }

.stop { background-color: #e94560; color: white; }
.stop:disabled { background-color: #555; cursor: not-allowed; }

#audioVisualizer {
    width: 100%;
    height: 150px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #333;
}

.hidden { display: none; }

#reportCard {
    background: #16213e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
    border-left: 5px solid #e94560;
}

.stat-item {
    margin-bottom: 10px;
    font-size: 18px;
}
/* Мынаны стильдің соңына қосыңыз */
.speaker-box {
    margin: 20px auto;
    padding: 15px;
    width: 60%;
    background-color: #0f3460;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #e94560;
    transition: 0.3s;
}

.teacher-mode {
    background-color: #2a9d8f; /* Мұғалім түсі (Жасыл) */
    border-color: #fff;
}

.student-mode {
    background-color: #e76f51; /* Оқушы түсі (Сарғыш) */
    border-color: #fff;
}